<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Port>22222</Port>
  <IP>192.168.153.225</IP>
  <FindMode>0</FindMode>
  <!-- Endfindung ( 0 Byte[0x03 ETX als Ende], 1 Length[die Länge des Empfangsstrings wird beim durchpasen für das ende herangezogen], 2 Time[start empfangen -> time -> transmission fertig]  -->
  <Encoding>ASCII</Encoding>
  <StopServer>Byte</StopServer>
  
</configuration>
